body {
    background-color: #9b835f;
}
.margin-custom-1 {
    margin-top: 50px;
}

.margin-custom {
    margin-top: 100px;
}

.color-custom {
    color: white;
    background-color: #724C21;
    /* width: 150px;
    height: 60px; */
    font-size: 12pt;
    font-weight: bold;
}

td,th{
    color: white;
    background-color: #724C21;
}

h4 {
    color: white;
}
